[submodule "lib/log.c"]
	path = lib/log.c
	url = https://github.com/rxi/log.c.git
[submodule "lib/tgc"]
	path = lib/tgc
	url = https://github.com/orangeduck/tgc.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
